<% provide(:title, "Help") %>
<h1>Help Playing Greed</h1>
<p>Greed is a game of strategy with dice.  The game uses 6 dice, which for each 
	turn, are initially all thrown at once.  After a throw, some of the dice
	may result in a score, and some may not.  If no dice result in a score
	the player turn is over and the other player's turn begins. If some
	dice result in a score, that score is added to the player's total, and
	at the option of the player the scoring dice are thrown again.
</p>
