<%= render '/layouts/return_to_game' %>
<div class = "center hero-unit">
	<h1>G r <i class="ee">e e </i>d</h1>
	<h2>The dice game of strategy</h2>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-primary" %>
</div>