<% provide(:title, "Rules") %>
<%= render '/layouts/return_to_game' %>
<div class='span10 offset1'>
	<h2>Greed Game Rules</h2>
	<p>Greed is a dice game played among 2 or more players, using 5
	six-sided dice.</p>

	<h3>Playing Greed</h3>

	<p>Each player takes a turn consisting of one or more rolls of the dice.
	On the first roll of the game, a player rolls all five dice which are
	scored according to the following:</p>

	<div class = 'span12'>
		<div class = 'span3 offset1'>
			<h3>Scoring Dice</h3>
			<table class = 'table table-bordered table-condensed'>
			  <tr><td>Three 1's</td><td>1000 points</td></tr>
			  <tr><td>Three 6's</td><td>600 points</td></tr>
			  <tr><td>Three 5's</td><td>500 points</td></tr>
			  <tr><td>Three 4's</td><td>400 points</td></tr>
			  <tr><td>Three 3's</td><td>300 points</td></tr>
			  <tr><td>Three 2's</td><td>200 points</td></tr>
			  <tr><td>One   1  </td><td>100 points</td></tr>
			  <tr><td>One   5  </td><td> 50 points</td></tr>
			</table>
		</div>
	</div>
	<p/>
	<p>A single die can only be counted once in each roll.  For example,
	a "5" can only count as part of a triplet (contributing to the 500
	points) or as a single 50 points, but not both in the same roll.</p>


	<div class = 'span12'>
		<div class = 'span3 offset1'>
			<h3>Example Scoring</h3>
			<table class = 'table table-bordered table-condensed'>
				<tr><th>Throw</th>       <th>Score</th></tr>
				<tr><td>5 1 3 4 1</td>   <td>50 + 2 * 100 = 250</td></tr>
				<tr><td>1 1 1 3 1</td>   <td>1000 + 100 = 1100 </td></tr>
				<tr><td>2 4 4 5 4</td>   <td>400 + 50 = 450    </td></tr>
			</table>
		</div>
	</div>
	<p/>
	<p>The dice not contributing to the score are called the non-scoring
	dice.  "3" and "4" are non-scoring dice in the first example.  "3" is
	a non-scoring die in the second, and "2" is a non-score die in the
	final example.</p>

	<p>After a player rolls and the score is calculated, the scoring dice are
	removed and the player has the option of rolling again using only the
	non-scoring dice. If all of the thrown dice are scoring, then the
	player may roll all 5 dice in the next roll.</p>

	<p>The player may continue to roll as long as each roll scores points. If
	a roll has zero points, then the player loses not only their turn, but
	also accumulated score for that turn. If a player decides to stop
	rolling before rolling a zero-point roll, then the accumulated points
	for the turn is added to his total score.</p>

	<h3>Getting "In The Game"</h3>

	<p>Before a player is allowed to accumulate points, they must get at
	least 300 points in a single turn. Once they have achieved 300 points
	in a single turn, the points earned in that turn and each following
	turn will be counted toward their total score.</p>

	<h3>End Game</h3>

	<p>Once a player reaches 3000 (or more) points, the game enters the final
	round where each of the other players gets one more turn. The winner
	is the player with the highest score after the final round.</p>

	<h3>References</h3>

	<p>Greed is described on
	<a href='http://en.wikipedia.org/wiki/Greed_(dice_game)'>Wikipedia</a>, however the rules 
	are a bit different from the rules given here.</p>
</div>