<% if (@player2)%>
	<% provide(:title, "Play Greed with #{@player2.player_name}")%>
	<h1>Play Greed with <%= @player2.player_name %></h1>
	<h2>Waiting for <%= @player2.player_name %> to join...</h2>
<% end %>
