<% provide(:title, "Game with #{@opponent.player_name}")%>
<div id='game-id'style="display:none"><%= @game.id %></div>
<div class = 'container'>
	<div class = 'center'>
		<div id='game-state'>
			<%= render 'game_state', 	game: @game, 
										opponent: @opponent, 
										current_player: @current_player,
										roll: @roll,
										turn_score: @turn_score,
										rolls: @rolls,
										winner: @winner %>
		</div>

	</div>
</div>
