<%= provide(:title, @player.player_name) %>
<%= render '/layouts/return_to_game' %>
<div class='row'>
	<aside class='span4'>
		<section>
			<h1>
				<%= gravatar_for @player%>
				<%= @player.player_name %>
			</h1>			
		</section>
	</aside>
</div>
