@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
	text-align: center;
	h1 {
		margin-bottom: 10px;
	}
}



/* header */

#logo {
	float: left;
	margin-left: 60px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	font-size: 2em;
	color: #00f;
	letter-spacing: -1px;
	padding-top: 9px;
	font-weight: bold;
	line-height: 1;
	&:hover {
		color: #f00;
		text-decoration: none;
	}
	
}
#ee {
  font-style:italic;
}

.navbar-inner {
  background-color: #0ff; 
  background-image: none;  
  background-repeat: no-repeat;
  filter: none;
}


/* footer */

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #999;
	a {
		color: #555;
		&:hover { 
		  color: #222;
		}
	}
	small {
		float: left;
	}
	ul {
		float: right;
		list-style: none;
		li {
			float: left;
			margin-left: 10px;
		}
	}
	
}


